@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 254;
  --background-end-rgb: 249, 250, 254;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  ::placeholder {
    color: rgb(60, 60, 60);
    opacity: 1; /* Firefox */
  }

  .menu-icon:hover {
    fill: #5041bc;
    transition: stroke 0.3s ease; /* Smooth transition */
  }
  .heart-icon {
    stroke: #000000;
    transition: stroke 0.3s ease; /* Smooth transition */
  }
  .heart-icon:hover {
    stroke: #5041bc;
    color: #5041bc;
  }

  .event-summary-container {
    height: fit-content;
  }

  .event-summary-height {
    max-height: 40vh;
    margin-bottom: 10px;
  }

  .event-card {
    display: flex;
    flex-wrap: wrap;

    height: 30vh;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 14px;

    border-radius: 20px;
    box-shadow: -10px 10px 8px #857dcf;

    background: #5041bc;
  }

  .round-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 3% 25% 15% 15% 32%;
    padding-left: 10px;
    grid-gap: 20px;
    border-radius: 10px;
  }
  .grid-container-1 {
    display: grid;
    grid-template-columns: 3% 25% 15% 15% 32%;
    grid-gap: 20px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;

    /* margin-bottom: 20px; */
    background-color: #fff;
  }

  .grid-item {
    /* Style your grid items as needed */
    text-align: left;
    padding-left: 9px;
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #ffffff;
    margin-left: auto;
    margin-right: 6px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
