@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 254;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  ::placeholder {
    color: rgb(60, 60, 60);
    opacity: 1; /* Firefox */
  }
  
  .menu-icon:hover {
    fill: #5041BC;
    transition: stroke 0.3s ease; /* Smooth transition */
  }
  .heart-icon {
    stroke: #000000;
    transition: stroke 0.3s ease; /* Smooth transition */
   }
   .heart-icon:hover {
    stroke: #5041BC;
   }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
