@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 254;
  --background-end-rgb: 249, 250, 254;
}

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  ::placeholder {
    color: rgb(60, 60, 60);
    opacity: 1; /* Firefox */
  }

  .menu-icon:hover {
    fill: #5041bc;
    transition: stroke 0.3s ease; /* Smooth transition */
  }
  .heart-icon {
    stroke: #000000;
    transition: stroke 0.3s ease; /* Smooth transition */
  }
  .heart-icon:hover {
    stroke: #5041bc;
    color: #5041bc;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 30px 160px 120px 140px 230px;
    padding-left: 10px;
    grid-gap: 20px; 
    border-radius: 10px;
  }
  .grid-container-1 {
    display: grid;
    grid-template-columns: 30px 160px 120px 140px 230px;
    grid-gap: 20px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    overflow: hidden;

    /* margin-bottom: 20px; */
    background-color: #fff;
  }

  .grid-item {
    /* Style your grid items as needed */
    text-align: left;
    padding-left: 9px;
    padding-right: 20px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
